# VS Code
.vscode/

# Prerequisites
*.d

# Object files
*.o
*.obj

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*

# Executables
*.exe
*.out

# Debug files
*.su
*.idb
*.pdb
